.img-campeonato{ 
    width: 100%;
    
}
.bg-campeonato-sede{
    background-image: url('/images/bg-campeonato-sede.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}