.space-container-carros {
  margin-top: 57px;
}

.section-parts {
  padding-top: 57px;
}
.div-inform-parts {
  background-color: $color-gray-light;
  margin: 0;

  .text-parts {
    font-size: 14px;
    color: #3e4146;
    line-height: 34px;
    padding: 35px 26px 35px 40px;
  }
}
